/* title */

/* remove styling from title block partial */
#title-block-header{

  text-align: center;
  margin: 1.25rem 1rem;
  /*width: 100%;*/
  justify-content: center;
  justify-items: center;


  .title{
    padding: 1rem 0rem;
    font-size: clamp(3.5rem, 10vw, 6.5rem);
    
    &::after {
       content: '';
       display: block;
       width: 6rem;
       height: 3px;
       background: #D8C4B6;
       margin: 1.75rem auto 1.5rem;
     }
  }

  .description{
    padding: 1rem 0rem;
    /*font-size: clamp(0.8rem, 2vw, 1.2rem); */
  }

  p {
    margin-bottom: 1rem;
    width: 100%; 
  }

}

/* page title  */
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-size: 2.5em;
  text-align: center;
  margin: 0 0 -0.5em 0;
}

/* text below page title */
.description p {
  text-align: center; 
  margin: 0 1em 10em 1em;
  padding: 0 0 5em 0;
}

.description a {
  text-decoration: underline !important;
}

.description a:hover {
  text-decoration: none !important;
}

/* listing cards  */
.card {
  background: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 8px 8px 0px 0px;
}